[Unit]
 Description=DSKY Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=java -jar /home/pi/DSKY/DSKYCode.jar

 [Install]
 WantedBy=multi-user.target

